.win-pivot-header {
	color: #6c4a15 !important;
}

.win-pivot-header-selected {
	color: #d1b280 !important;
}

.win-container {
	height: auto !important;
}

.win-itembox {
	background-color: inherit !important;
	padding: 5px 5px 5px 20px;
}

.win-itembox:hover {
	background-color: #333333 !important;
}

.win-listview {
	height: 99% !important;
}

/* ----------------------------------------------------- */

#avg-pivot .row-1 {
	height: calc(100% - 85px);
	padding-top: 5px;
}

#avg-pivot .row-2 {
	height: 40px;
	padding-top: 5px;
}

#avg-pivot .row-3 {
	height: 15px;
	padding-top: 5px;
}

#avg-pivot .row-4 {
	height: 15px;
}

.avg-item {
	display: flex;
	width: 100%;
}

.avg-item .col-1 {
	width: 30px;
}

.avg-item .col-2 {
	width: calc(50% - 15px);
}

.avg-item .col-3 {
	width: calc(50% - 15px);
}

/* ----------------------------------------------------- */

.progress {
	background: #03589a;
	border-radius: 2px;
	height: 10px;
	position: relative;
}

.bar {
	background: #2997ee;
	font-size: 0.95em;
	height: 10px;
}

/* ----------------------------------------------------- */

.calendar-date-picker {
	background-color: #141414;
	border: 1px groove #ece3e3;
	box-sizing: border-box;
	color: ghostwhite;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: normal;
	padding: 5px 5px 5px 12px;
	width: 100%;
}

.calendar-date-picker:disabled {
	color: gray;
}

.disabled {
	opacity: 0.4;
	pointer-events: none;
}