.win-pivot-header {
	color: #6c4a15 !important;
}

.win-pivot-header-selected {
	color: #d1b280 !important;
}

.win-container {
	height: auto !important;
}

.win-itembox {
	background-color: inherit !important;
	padding: 5px 5px 5px 20px;
}

.win-itembox:hover {
	background-color: #333333 !important;
}

.win-listview {
	height: 99% !important;
}

.win-pivot-item-content {
	height: calc(100% - 18px) !important;
}

.input-daterange input {
	border-radius: 0 !important;
}

/* ----------------------------------------------------- */

#avg-pivot .row-1 {
	height: calc(100% - 75px);
	padding-top: 5px;
}

#avg-pivot .row-2 {
	height: 30px;
	padding-top: 5px;
}

#avg-pivot .row-3 {
	height: 15px;
	padding-bottom: 15px;
	padding-top: 5px;
}

.avg-item {
	display: flex;
	width: 100%;
}

.avg-item .col-1 {
	width: 30px;
}

.avg-item .col-2 {
	width: calc(50% - 15px);
}

.avg-item .col-3 {
	width: calc(50% - 15px);
}

/* ----------------------------------------------------- */

#history-pivot .row-1 {
	height: calc(100% - 110px);
	padding-top: 5px;
}

#history-pivot .row-2 {
	height: 30px;
	padding-top: 5px;
}

#history-pivot .row-3 {
	height: 30px;
	padding-top: 5px;
}

#history-pivot .row-4 {
	height: 15px;
	padding-bottom: 15px;
	padding-top: 5px;
}

#history-draw-button {
	background-color: #6c4a15;
	border: 1px groove #ece3e3;
	color: #ece3e3;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 0.88em;
	height: calc(100% - 5px);
	margin: 3px 0 3px 0;
	padding: 2px 5px 2px 15px;
	width: 100%;
}

#history-draw-button:active {
	background-color: rgba(108, 74, 21, 0.4);
	border: 1px dashed #ece3e3;
	color: blanchedalmond;
}


/* ----------------------------------------------------- */

.progress {
	background: #03589a;
	border-radius: 2px;
	height: 10px;
	position: relative;
}

.bar {
	background: #2997ee;
	font-size: 0.95em;
	height: 10px;
}

/* ----------------------------------------------------- */

.calendar-date-picker {
	background-color: #141414;
	border: 1px groove #ece3e3;
	box-sizing: border-box;
	color: ghostwhite;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: normal;
}

.calendar-date-picker:disabled {
	color: gray;
}

#avg-picker {
	padding: 5px 5px 5px 15px;
	width: 100%;
}

#history-picker-range .calendar-date-picker {
	padding: 5px 0 5px 0;
	width: calc(50% - 16.5px);
}

#history-picker-addon {
	display: inline-block;
	text-align: center;
	width: 24px;
}

/* ----------------------------------------------------- */

.disabled {
	opacity: 0.4;
	pointer-events: none;
}